#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
button {
    border-radius: 50px !important;
}

button:focus {
    outline: none !important;
}
button:hover {
    border-color: inherit !important;
}

.main-page {
    min-height: inherit;
    overflow: scroll;
}
.app-container {
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
    height: 100vh;
}
